

.App{
  background: linear-gradient(90deg, rgba(54,35,77,1) 0%, rgba(149,0,255,1) 48%, rgba(54,35,77,1) 100%);;
}

body{
  background:  linear-gradient(90deg, rgba(54,35,77,1) 0%, rgba(149,0,255,1) 48%, rgba(54,35,77,1) 100%);;;
  overflow: auto;
}

html{
  box-sizing: border-box;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
